

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg">
      <h3 class="text-center">Movie Seat Booking </h3>
      <h4 class="text-center">Login</h4>
  
      <!-- Mobile Number Input -->
      <div *ngIf="!otpSent" class="mt-1">
        <form [formGroup]="loginForm" (ngSubmit)="sendOtp()">
        <label for="mobileNumber">Enter Mobile Number:</label>
        <input type="text" id="mobileNumber" class="form-control mt-2" formControlName="mobile" placeholder="Enter your mobile number" maxlength="10">

        <div *ngIf="submitted && loginForm.controls['mobile'].invalid" class="text-danger mt-1">
      
            <small *ngIf="loginForm.controls['mobile'].errors?.['required']">
              Please enter a mobile number.
            </small>
            
            <small *ngIf="loginForm.controls['mobile'].errors?.['pattern']">
              Please enter a valid 10-digit number.
            </small>
      
          </div>
          <button type="submit" class="btn btn-primary mt-3 w-100" 
          [disabled]="loginForm.invalid">
    Submit
  </button>

    </form>
      </div>
  
      <!-- OTP Verification -->
      <div *ngIf="otpSent" class="mt-1">
        <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
        <label for="otp">Enter OTP:</label>
        <input type="text" id="otp" class="form-control mt-2" formControlName="otp" placeholder="Enter OTP">
        <button class="btn btn-success mt-3 w-100"  [disabled]="otpForm.invalid" type="submit">Verify OTP</button>
    </form>
        
      </div>
    </div>
  </div>
  